@font-face {
	font-family: 'Mono';
	src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  border-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  box-shadow: 0;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2.4rem;
  color: #272727;
}

article {
  max-width: 740px;
  margin-bottom: 8rem;
}

.content {
  padding-bottom: 2.5rem;
}

p {
  text-indent: 5rem;
  margin: 0;
}

p.header {
  text-indent: 0;
}

p.header:before {
  content: '\2192';
  margin-right: 4rem;;
}

img.logo {
  width: 25rem;  
}

h1 {
  margin-bottom: 5rem;
}

h2 {
  margin-bottom: 2.5rem;
}

hr {
  border: 0;
  height: 1px;
  background: #272727;
  margin: 2rem 0 0.5rem 0;
}

hr.small {
  margin: 0.5rem 0;
}

a {
  font-size: 1.6rem;
  line-height: 1.5;
}

a:link {
    text-decoration: none;
    color: #aaa;
}

a:visited {
    text-decoration: none;
    color: #aaa;
}

a:hover {
  color: #04fa13;
  border-bottom: 1px solid;
}

ul {
  margin: 0 0 3rem 0;
}

li {
    list-style-type: none;
    color: #272727;
    border-top: 1px solid;
    padding: 0.5rem 0;
}

li:last-of-type {
  border-bottom: 1px solid;
}

@media screen and (max-width: 768px) {
  body {
    margin: 1.6rem;
  }
  article {
    width: 100%;
  }
  p {
    text-indent: 4rem;
  }
  p.header {
    text-indent: 4rem;
  }

}
